* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url('plant.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    /* Set the font for the entire page */
}